* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e4e2e1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
}

header {
  user-select: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 130px;
  background-color: #E81C24;
  color: #faf0f0;
  padding: 20px 100px;
  box-shadow: 2px 1px 4px 1px rgb(0, 0, 0, 0.45);

  .logo-container {
    display: flex;
    img {
      height: 100px;
      width: 100px;
    }

    h1 {
      font-size: 60px;
      font-family: 'Cormorant', serif;
      font-variant: small-caps;
      transform: translate(-40px, 15px);
    }
  }

  p {
    padding-left: 120px;
    transform: translate(0, -23px);
    color: #ebe1e1c7;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    font-style: italic;
  }

}

.container {
  display: flex;
  align-items: flex-start;
  width: 950px;
  // height: 536px;
  margin-top: 80px;
  color: rgb(66, 66, 66);
  flex: 1 0 auto;
  overflow: hidden;
  .filter-container {
    width: 250px;
    
    .filter-header {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #cfcfcf;
      user-select: none;
      height: 100px;
      align-items: flex-end;
      .filter-header-container {
        padding-bottom: 5px;
        h3 {
          font-size: 22px;
          font-weight: 500;
          margin-bottom: 15px;
        }

        .filter {
          color: #494949;
        }

        .results {
          font-size: 12px;
          color: #8a8a8a;
        }
      }

      .filter-header-button {
        // margin-top: auto;

        .clear-all-button {
          width: 70px;
          height: 28px;
          cursor: pointer;
          color: #E81C24;
          background-color: #ffff;
          border: none;
        }
      }
    }

    form {
      width: 250px;
      user-select: none;
      fieldset {
        margin-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        border: none;
        border-bottom: 1px solid #cfcfcf;
        
        legend {
          font-size: 16px;
          font-weight: 500;
        }

        label {
          cursor: pointer;
          margin-left: 10px;
          &:hover {
            background: linear-gradient(90deg, rgba(235,235,235,1) 6%, rgba(235,235,235,1) 33%, rgba(255,255,255,1) 94%);
          }

          input[type="checkbox"] {
            margin-right: 10px;
            cursor: pointer;

            &:checked {
              accent-color: #E81C24;
            }
          }

        }


      }
    }
  }

  .image-container {
    user-select: none;
    max-height: 536px;
    margin-bottom: 35px;
    padding-right: 20px;
    display: grid;
    row-gap: 2px;
    column-gap: 6px;
    grid-template-columns: repeat(4, 1fr);
    // justify-content: space-between;
    // background-color: #494949;
    width: 100%;
    margin-left: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    // background-color: #494949;

    // div {
    //   padding: 3px;
    // }

    img {
      width: 100%;
    }

    p {
      font-weight: 700;
      user-select: text;
      font-size: 12px;
      text-align: center;
      color: #494949;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0 auto;
  height: 120px;
  width: 100%;
  background-color: #4A4542;
  flex-shrink: 0;
  border-top: 7px solid #e4e2e1;
  color: #F5F1E5;
  overflow: hidden;

  img {
    position: relative;
    height: 330px;
    margin-left: 280px;
    transform: translate(45px, -75px);
    z-index: 0;
  }
  .policy-container {
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
      font-size: 14px;
    }

    .button-container {
      a {
        display: inline-block;
        position: relative;
        z-index: 10;
        cursor: pointer;
        background-color: #4A4542;
        color: #f5f1e5d2;
        border: none;
        margin: 0 12px;
        font-size: 12px;
        text-decoration: none;
        
        &:hover {
          text-decoration: underline;
          text-decoration-color: #f5f1e575;
        }
      }

      .privacy-policy {
        &::after {
          content: '';
          display: block;
          border-right: solid 1px #F5F1E5;
          height: 18px;
          transform: translate(15px, -16px);
        }
        &::before {
          content: '';
          display: block;
          border-left: solid 1px #F5F1E5;
          height: 18px;
          transform: translate(-15px, 16px);
        }
      }
    }
  }

}